.parent-layer {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

.child-layer {
  position: absolute;
  width: 100vw;
}

.carousel-img {
  min-width: 100vw;
  min-height: 100vh;
}

.form-container {
  border: 0 solid;
  padding: 8%;
  min-width: 445px;
  -webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
  background-color:rgba(0, 0, 0, 0.25);
}

.input-text-style {
  font-size: 1.6em;
  color: white;
  text-shadow: 2px 2px black;
}

.input-img-style {
  font-size: 2em;
  top: 0.3em;
  left: -0.1em;
}

.input-label-text-style {
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px black;
}

.input-under-text-style {
  color: white;
  margin-left: 3.1em;
  text-shadow: 2px 2px black;
}

.input-under-text-margin-style {
  margin-left: 3.1em;
  text-shadow: 2px 2px black;
}

.error-text {
  color: #841439;
  text-shadow: 0 0 #841439;
}

.character-counter {
  float: right;
  color: white;
  text-shadow: 2px 2px black;
}

.login-text {
  color: white;
  text-shadow: 2px 2px black;
}

.login-button {
  border-radius: 25px;
  text-transform: capitalize;
  text-shadow: 2px 2px black;
  font-size: 1em;
  background-image: linear-gradient(to right, #4285f4 0%, #95caff 51%, #4285f4 100%);
  transition: 0.5s;
  background-size: 200% auto;
}

.login-button:hover {
  background-position: right center;
}

.login-button:active {
  background: #95caff;
}

.sign-up {
  color: #95caff;
}

.sign-up:hover {
  color: #4285f4;
}

.logo {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background-image: linear-gradient(to right, #4285f4 0%, #95caff 51%, #4285f4 100%);
  transition: 0.5s;
  background-size: 200% auto;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: .8;
}

.logo:hover {
  background-position: right center;
}

.logo > img {
  height: 100px;
}

.globe-animation {
  transition: transform 1s;
}

.globe-animation:hover {
  transform: scale(1.1);
}

.custom-margin {
  margin-top: 5vh;
}
