<div class="card" style="width: 16rem;">
  <img [style.cursor]="true"
       *ngIf="picUrl"
       class="card-img-top"
       [src]="picUrl">
  <div id="event-popup-card-body" class="card-body card-body-custom">
    <h5 class="card-title text-center card-title-pos">{{initialData.name}}</h5>
    <div class="absolute-button-wrapper">
      <button class="custom-button-blue"
              *ngIf="details && details.likes"
              type="button">
        <span>
          {{details.likes.count}}
          <i style="padding-left: 5px;" class="fa fa-thumbs-up"></i>
        </span>
      </button>
    </div>
    <!--<div class="floating-button add-attachment-floating-button"-->
    <!--*ngIf="existAttachments()"-->
    <!--(click)="togglePreview()">-->
    <!--<i class="fa fa-picture-o" aria-hidden="true"></i>-->
    <!--</div>-->

    <hr style="border-top-color: rgba(0, 0, 0, 0.3)">

    <div class="attributes">
      <div class="section-title">
        <i class="fa fa-address-card-o" aria-hidden="true"></i>
        Description
      </div>
      <div class="subsection" *ngIf="details && details.description">
        <span *ngIf="details.description.length >= descriptionLength">
        <span> {{details.description.slice(0, descriptionLength)}}</span>
        <span *ngIf="!more">...</span>
        <span *ngIf="more">{{details.description.slice(descriptionLength)}}</span>
        </span>
        <span *ngIf="details.description.length < descriptionLength">
        {{details.description}}
      </span>
      </div>
      <div class="subsection" *ngIf="details && !details.description">
        No description available.
      </div>
      <span *ngIf="more == false" (click)="more = true;" class="see-link position-right">See more</span>
      <div *ngIf="more == true">
        <hr class="custom-hr">
        <div class="section-title">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          Address
        </div>
        <div class="subsection">
          {{initialData.location.country}}, {{initialData.location.city}}, {{initialData.location.address}}
        </div>
        <hr class="custom-hr" *ngIf="details && details.url">
        <div class="section-title" *ngIf="details && details.url">
          <i class="fa fa-link" aria-hidden="true"></i>
          Link
        </div>
        <div class="subsection" *ngIf="details && details.url">
          <a target="_blank"
             rel="noopener noreferrer"
             [href]="details.url">
            <span *ngIf="details.url.length > linkLength">{{details.url.slice(0, linkLength)}}...</span>
            <span *ngIf="details.url.length <= linkLength">{{details.url}}</span>
          </a>
        </div>
        <hr class="custom-hr" *ngIf="details && details.contact">
        <div *ngIf="details && details.contact">
          <div class="section-title" *ngIf="details.contact.formattedPhone">
            <i class="fa fa-phone" aria-hidden="true"></i>
            Phone
          </div>
          <div class="subsection" *ngIf="details.contact.formattedPhone">
          {{details.contact.formattedPhone}}
          </div>
          <hr class="custom-hr">

          <div class="social-media-container">
            <a target="_blank"
               rel="noopener noreferrer"
               [href]="'https://twitter.com/' + (details.twitter ? details.twitter : '')">
              <i class="fa fa-twitter social-media-button twitter"></i>
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               [href]="'https://www.facebook.com/' + (details.facebook ? details.facebook : '')">
              <i class="fa fa-facebook social-media-button facebook"></i>
            </a>
            <a target="_blank"
               rel="noopener noreferrer"
               [href]="'https://www.instagram.com/' + (details.instagram ? details.instagram : '')">
              <i class="fa fa-instagram social-media-button instagram"></i>
            </a>
          </div>
        </div>
        <span *ngIf="more == true" (click)="more = false;" class="see-link position-right">See less</span>
      </div>
    </div>

  </div>
</div>
