<div class="parent-layer">

  <div class="child-layer">
    <div class="view">
      <img class="carousel-img" src="../../assets/img/sing-up.jpg">
      <div class="mask rgba-indigo-light waves-light"></div>
    </div>
    <div class="carousel-caption">
      <div class="animated fadeInDown">
        <h3 class="h3-responsive">Sing-up</h3>
        <p class="login-text">bla bla bal sabsb asbas basb asb.</p>
      </div>
    </div>
  </div>

  <div style="margin-top: 15vh" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <form autocomplete="off"
              #loginForm="ngForm"
              class="form-container">

          <div class="row justify-content-center">
            <span class="title"><b>Create new account</b></span>
          </div>

          <mdb-carousel [isControls]="true"
                        class="carousel slide"
                        [interval]="0"
                        [animation]="'slide'">

            <mdb-carousel-item class="sing-up-carousel justify-content-center">

              <div class="row d-block">

                <div class="md-form">
                  <i style="color: #d1f1ff" class="fa fa-user-circle-o prefix input-img-style">
                  </i>
                  <input mdbInputDirective
                         id="firstName"
                         name="firstName"
                         [mdbValidate]="false"
                         style="border-bottom-color: white; box-shadow: unset"
                         [(ngModel)]="model.firstName"
                         #firstNameControl="ngModel"
                         #firstName
                         required
                         minlength="5"
                         maxlength="25"
                         pattern="^[a-zA-Z0-9]+$"
                         class="form-control input-text-style"
                         [class.isInvalid]="firstNameControl.invalid && firstNameControl.touched"
                         type="text">
                  <small class="character-counter">{{firstName.value.length}} / 25</small>
                  <label style="color: white"
                         class="input-label-text-style"
                         for="firstName">First name...</label>
                  <p style="height: 20px">
                    <small class="help-block error-text input-under-text-margin-style"
                           *ngIf="firstNameControl.invalid && firstNameControl.touched && firstNameControl.value != '' &&firstNameControl.value != null">
                      Please enter a valid first name.
                    </small>
                    <small class="input-under-text-style"
                           *ngIf="firstNameControl.value == null || firstNameControl.value == ''">
                      Must contain only numbers and letters.
                    </small>
                    <small class="input-under-text-style" *ngIf="firstNameControl.valid">
                      Valid first name.
                    </small>
                  </p>
                </div>

                <div class="md-form">
                  <i style="color: #d1f1ff" class="fa fa-user-circle-o prefix input-img-style">
                  </i>
                  <input mdbInputDirective
                         id="lastName"
                         name="lastName"
                         [mdbValidate]="false"
                         style="border-bottom-color: white; box-shadow: unset"
                         [(ngModel)]="model.lastName"
                         #lastNameControl="ngModel"
                         #lastName
                         required
                         minlength="5"
                         maxlength="25"
                         pattern="^[a-zA-Z0-9]+$"
                         class="form-control input-text-style"
                         [class.isInvalid]="lastNameControl.invalid && lastNameControl.touched"
                         type="text">
                  <small class="character-counter">{{lastName.value.length}} / 25</small>
                  <label style="color: white"
                         class="input-label-text-style"
                         for="lastName">Last name...</label>
                  <p style="height: 20px">
                    <small class="help-block error-text input-under-text-margin-style"
                           *ngIf="lastNameControl.invalid && lastNameControl.touched && lastNameControl.value != '' &&lastNameControl.value != null">
                      Please enter a valid last name.
                    </small>
                    <small class="input-under-text-style"
                           *ngIf="lastNameControl.value == null || lastNameControl.value == ''">
                      Must contain only numbers and letters.
                    </small>
                    <small class="input-under-text-style" *ngIf="lastNameControl.valid">
                      Valid last name.
                    </small>
                  </p>
                </div>


                <div class="md-form">
                  <i style="color: #d1f1ff" class="fa fa-envelope prefix input-img-style">
                  </i>
                  <input mdbInputDirective
                         id="email"
                         name="email"
                         [mdbValidate]="false"
                         style="border-bottom-color: white; box-shadow: unset"
                         [(ngModel)]="model.email"
                         #emailControl="ngModel"
                         #email
                         required
                         minlength="5"
                         maxlength="25"
                         pattern="^[a-zA-Z0-9]+$"
                         class="form-control input-text-style"
                         [class.isInvalid]="emailControl.invalid && emailControl.touched"
                         type="text">
                  <small class="character-counter">{{email.value.length}} / 25</small>
                  <label style="color: white"
                         class="input-label-text-style"
                         for="email">Email...</label>
                  <p style="height: 20px">
                    <small class="help-block error-text input-under-text-margin-style"
                           *ngIf="emailControl.invalid && emailControl.touched && emailControl.value != '' &&emailControl.value != null">
                      Please enter a valid last name.
                    </small>
                    <small class="input-under-text-style"
                           *ngIf="emailControl.value == null || emailControl.value == ''">
                      Must contain only numbers and letters.
                    </small>
                    <small class="input-under-text-style" *ngIf="emailControl.valid">
                      Valid last name.
                    </small>
                  </p>
                </div>

                <div class="md-form">
                  <i style="color: #d1f1ff" class="fa fa-phone prefix input-img-style">
                  </i>
                  <input mdbInputDirective
                         id="phone"
                         name="phone"
                         [mdbValidate]="false"
                         style="border-bottom-color: white; box-shadow: unset"
                         [(ngModel)]="model.phone"
                         #phoneControl="ngModel"
                         #phone
                         required
                         minlength="5"
                         maxlength="25"
                         pattern="^[a-zA-Z0-9]+$"
                         class="form-control input-text-style"
                         [class.isInvalid]="phoneControl.invalid && phoneControl.touched"
                         type="text">
                  <small class="character-counter">{{phone.value.length}} / 25</small>
                  <label style="color: white"
                         class="input-label-text-style"
                         for="phone">Phone number...</label>
                  <p style="height: 20px">
                    <small class="help-block error-text input-under-text-margin-style"
                           *ngIf="phoneControl.invalid && phoneControl.touched && phoneControl.value != '' &&phoneControl.value != null">
                      Please enter a valid last name.
                    </small>
                    <small class="input-under-text-style"
                           *ngIf="phoneControl.value == null || phoneControl.value == ''">
                      Must contain only numbers and letters.
                    </small>
                    <small class="input-under-text-style" *ngIf="phoneControl.valid">
                      Valid last name.
                    </small>
                  </p>
                </div>
              </div>


            </mdb-carousel-item>

            <mdb-carousel-item class="sing-up-carousel justify-content-center">

              <div class="row d-block">

                <div class="md-form">
                  <i style="color: #d1f1ff" class="fa fa-user-circle-o prefix input-img-style">
                  </i>
                  <input mdbInputDirective
                         id="username"
                         name="username"
                         [mdbValidate]="false"
                         style="border-bottom-color: white; box-shadow: unset"
                         [(ngModel)]="model.username"
                         #usernameControl="ngModel"
                         #username
                         required
                         minlength="5"
                         maxlength="25"
                         pattern="^[a-zA-Z0-9]+$"
                         class="form-control input-text-style"
                         [class.isInvalid]="usernameControl.invalid && usernameControl.touched"
                         type="text">
                  <small class="character-counter">{{username.value.length}} / 25</small>
                  <label style="color: white"
                         class="input-label-text-style"
                         for="username">Username...</label>
                  <p style="height: 20px">
                    <small class="help-block error-text input-under-text-margin-style"
                           *ngIf="usernameControl.invalid && usernameControl.touched && usernameControl.value != '' &&usernameControl.value != null">
                      Please enter a valid first name.
                    </small>
                    <small class="input-under-text-style"
                           *ngIf="usernameControl.value == null || usernameControl.value == ''">
                      Must contain only numbers and letters.
                    </small>
                    <small class="input-under-text-style" *ngIf="usernameControl.valid">
                      Valid first name.
                    </small>
                  </p>
                </div>

              </div>

            </mdb-carousel-item>

          </mdb-carousel>

        </form>
      </div>
    </div>
  </div>

</div>
