<input class="input-medium" type="text" placeholder="To: " #destinatar><br>
<input class="input-medium" type="text" placeholder="private message" #text><br>
<button class="btn btn-primary" (click)="sendPrivateMess(destinatar.value, text.value)">Send private</button><br><br>

<input class="input-medium" type="text" placeholder="broadcast message" #broadcast><br>
<button class="btn btn-primary" (click)="sendBroadcastMess(broadcast.value)">Send broadcast</button><br><br>

<button class="btn btn-primary" (click)="disconnect()">Disconnect</button>

<router-outlet></router-outlet>
