<mdb-navbar [SideClass]="'navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav'"
            class="custom-navbar"
            #navbar
            [containerInside]="false">
  <mdb-navbar-brand style="margin-left: 3vw">
    <a class="logo navbar-brand" href="/home">
      <strong class="nav-bar-title">World Liant</strong>
    </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="goToCoordinates(homeCoordinates, 13)"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="scanAreaComp.startSaveProcess(sac.scanArea)" ><i class="fa fa-floppy-o"></i>Save Scan</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" (click)="scanAreaComp.openScanAreasModal()"><i class="fa fa-folder-open"></i>View Scans</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
      <a class="nav-link" (click)="openAddEventComp()"><i class="fa fa-plus"></i>Add Event</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons" style="margin-right: 1vw">
      <li class="nav-item" style="margin-right: 0.5vw">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-bell"></i>
        </a>
      </li>
      <li class="nav-item">
        <div class="dropdown" mdbDropdown>
          <img *ngIf="profilePictureUrl"
               [src]="profilePictureUrl"
               mdbDropdownToggle
               class="img-custom z-depth-0">

          <div class="dropdown-menu menu-item-custom dropdown-menu-right" id="dada">
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<div class="dropdown-divider"></div>-->
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>

        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!-->
<!-->
<!-->
<!-->
<!-->
<!-->
<div style="position: relative; overflow-x: hidden">
  <div id="mapid" class="map-size"></div>
  <app-chat #chatComp></app-chat>
  <div class="modal-dialog modal-full-height modal-left modal-search-options"
       [class.slide-right]="sideOptions"
       role="document">
    <div class="modal-content" style="height: 100%">
      <div class="modal-header">
        <div class="close-modal-button" (click)="sideOptions = false;">x</div>
        <h4 class="modal-title w-100">Looking for...?</h4></div>
      <div class="modal-body custom-modal-body">
        <ul class="search-option-list">
          <li *ngFor="let option of sac.searchOptions; let i = index">
            <input type="checkbox" [id]="i" [(ngModel)]="option.value">
            <label [for]="i">{{option.name}}</label>
            <i [class]="option.icon"></i>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <app-scan-area #scanAreaComp (doScan)="processSavedScan($event)"></app-scan-area>
  <app-add-event #addEventComp (eventAdded)="addEventToMap($event)"></app-add-event>

  <app-gallery-preview style="position: absolute"></app-gallery-preview>

</div>
<!-->
<!-->
<!-->
<!-->
<!-->
<!-->
<!--<footer class="page-footer font-small unique-color-dark">-->

  <!--<div class="my-custom-background">-->
    <!--<div class="container">-->

      <!--&lt;!&ndash; Grid row&ndash;&gt;-->
      <!--<div class="row py-4 d-flex align-items-center">-->

        <!--&lt;!&ndash; Grid column &ndash;&gt;-->
        <!--<div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">-->
          <!--<h6 class="mb-0">Get connected with us on social networks!</h6>-->
        <!--</div>-->
        <!--&lt;!&ndash; Grid column &ndash;&gt;-->

        <!--&lt;!&ndash; Grid column &ndash;&gt;-->
        <!--<div class="col-md-6 col-lg-7 text-center text-md-right">-->

          <!--&lt;!&ndash; Facebook &ndash;&gt;-->
          <!--<a class="fb-ic">-->
            <!--<mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Twitter &ndash;&gt;-->
          <!--<a class="tw-ic">-->
            <!--<mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash; Google +&ndash;&gt;-->
          <!--<a class="gplus-ic">-->
            <!--<mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Linkedin &ndash;&gt;-->
          <!--<a class="li-ic">-->
            <!--<mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->
          <!--&lt;!&ndash;Instagram&ndash;&gt;-->
          <!--<a class="ins-ic">-->
            <!--<mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>-->
          <!--</a>-->

        <!--</div>-->
        <!--&lt;!&ndash; Grid column &ndash;&gt;-->

      <!--</div>-->
      <!--&lt;!&ndash; Grid row&ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->

  <!--&lt;!&ndash; Copyright &ndash;&gt;-->
  <!--<div class="footer-copyright text-center py-3">© 2019 Copyright:-->
    <!--<a href="https://mdbootstrap.com/education/bootstrap/"> WorldLiant</a>-->
  <!--</div>-->
  <!--&lt;!&ndash; Copyright &ndash;&gt;-->

<!--</footer>-->
