<div class="modal-dialog modal-full-height modal-right modal-side-chat"
     [class.slide-in]="sideChat"
     role="document">
  <div class="modal-content" style="height: 100%">
    <div class="modal-header">
      <div class="close-modal-button" (click)="sideChat = false;">x</div>
      <h4 class="modal-title w-100" id="myModalLabel1">Get in touch</h4></div>
    <div class="modal-body custom-modal-body">

      <mat-list>
        <h3 mat-subheader><strong>Scan area</strong></h3>
        <mat-list-item *ngFor="let user of scanAreaUsers" (click)="openChat(user)">
          <div mat-list-icon class="side-chat-img-wrapper">
            <img *ngIf="user.profilePicture"
                 [src]="setUpPicture(user.profilePicture)"
                 class="side-chat-img">
            <div [class]="user.statusType === 'OFFLINE' ? 'grey-dot' : 'green-dot'"></div>
          </div>
          <h4 mat-line>{{user.lastName}} {{user.firstName}}</h4>
          <!--<mdb-badge pill="true" color="red">-->
          <!--13-->
          <!--</mdb-badge>-->
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3 mat-subheader><strong>Contacts</strong></h3>
        <mat-list-item *ngFor="let note of notes">
          <div mat-list-icon class="side-chat-img-wrapper">
            <img [src]="note.photo"
                 class="side-chat-img">
            <div class="green-dot"></div>
          </div>
          <h4 mat-line>{{note.name}}</h4>
          <!--<mdb-badge pill="true" color="red">-->
          <!--2-->
          <!--</mdb-badge>-->
        </mat-list-item>
      </mat-list>

    </div>
  </div>
</div>

<div id="chat-box-container"
     *ngIf="openChatList.length > 0"
     [class.slide-away]="!sideChat">
  <div class="chat-box" *ngFor="let user of openChatList">
    <div class="chat-box-header">
      <div class="chat-close" (click)="closeChat(user)">x</div>
      <div>
        <div class="chat-img-wrapper">
          <img *ngIf="user.profilePicture"
               [src]="setUpPicture(user.profilePicture)"
               class="chat-img">
          <div [class]="user.statusType === 'OFFLINE' ? 'grey-dot-chat' : 'green-dot-chat'"></div>
        </div>
        <span class="chat-header-text-wrapper">
            <span class="chat-header-text">{{user.lastName}} {{user.firstName}}</span>
          </span>
      </div>
    </div>
    <!--<div class="chats" #scrollMe [scrollTop]="scrollMe.scrollHeight">-->
    <div class="chats" ngx-auto-scroll>
      <ul *ngIf="chatListMessagesMap.get(user.username)">
        <li *ngFor="let message of chatListMessagesMap.get(user.username).messages">
          <div class="msg"
               [class.him]="message.source === user.username"
               [class.you]="message.source === appUser.username">
            <span class="partner">{{message.source === user.username ? user.firstName : appUser.firstName}}</span>
            {{message.message}}
            <span class="time">{{message.date | date: 'medium'}}</span>
          </div>
        </li>
        <li>
          <div class="msg load" *ngIf="chatListMessagesMap.get(user.username).typing === true">
            <div class="dot-anim"></div>
            <div class="dot-anim"></div>
            <div class="dot-anim"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="sendBox">
      <input type="text"
             #messageInput
             (keyup)="onKeyUpEventHandler(user.username, messageInput.value)"
             placeholder="type something..."
             (keyup.enter)="sendChatMessage(user.username, 'CHAT_MESSAGE', messageInput.value); messageInput.value = ''; onKeyUpEventHandler(user.username, '')">
    </div>
  </div>
</div>
